* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'arial', san-serif;
}
 /************ NAV ************/
 .nav-link{
  margin: 0 10px;
}
.dropdown-box{
  background-color: blue;
  position: fixed;
  top: 40px;
  width: 100%;
}
  .navigation {
    position:fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: #18c1ee;
    padding: 10px;
    border-bottom: 1px black solid;

  }
  .links {
       float: right;
       color: white;
  }

  .YT-logo {
    height: 20px;
  }
  .YT-text {
    vertical-align: top;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
    color: Black;
    text-decoration: none;
  }
  .YT-text a {
    vertical-align: top;
    text-decoration: none;
    color: white;
  }
  .YT-text a:hover {
    color:rgb(247, 170, 224);
    font-weight:900;
    font-size: 20px;

  }
  .textBold {
      font-weight:900;
  }
  .search-form {
    margin: 15px;
  }
  .search-form-top {
     margin: 0 0 15px 0;
     vertical-align: top;
  }
  .js-query {
    border-radius: 5px;
  }

 /************ HEADER AREA ************/
.mainSection {
  height: 300px;
  background-image: url("img/iStock_75977769_LARGE-1440x972.jpg");
  text-align: center;
  margin: 0 auto;
}
.whiteBox {
  display: inline-block;
  margin: 0 auto;
  height: 110px;
   width: 450px;
  background-color: white;
}
.js-search-form-center {
  margin: 40px; auto 0;
}

 /************ MAIN ************/


main {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 100%;
}

section {
  width: 100%;
  padding: 10%;
}

.section-container {
  max-width: 600px;
  margin: -55px auto;
}
.section-header {
  height: 100px;
}
.img {
  width: 40%;
}
.text {
  width: 45%;
  padding: 0 0 20px 0;
  margin: 0;
}
.section-title {
  width: 50%;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
}
.section-title2 {
  padding: 0 0 10px 45px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
.gray {
  background-color: rgb(247, 247, 247);
}
.spinner {
  width: 100px;
}

 /************ MAIN RESULTS AREA ************/
  
  .info-label {
    font-size: 20px;
    font-weight:900;
  }
  .info-container {
    max-width: 288px;
    margin: 0 auto;
  }
.ingredients {
  display: none;
}
.readyInMinutes {
  display: inherit;
}
.highlight {
  background: #fe0;
  box-shadow: 1rem 0 0 #fe0, -1rem 0 0 #fe0;
}
.highlight a{
  text-decoration: none;
}

.imgCredit a{
  color: black;
  text-decoration: none;
  font-size: 10px;
}
.imgCredit a:hover{
  text-decoration: underline;
}
.creditSmall {
  font-size: 11px;
}
hr {
  max-width: 250px;
}
.hide {
    display: none;
}
 
  p, h1, h2, h3, h4, h5 {
    text-align: center;
  }

/************ FOOTER ************/

 .footer {
   margin: 0 auto 10px;
   width: 100%;
   display: block;
   padding: 20px;
   clear: both;
  }
  .bottomBar {
    bottom: 0px;
    background-color: black;
    height: 137px;
    text-align: center;
    padding: 60px;
  }
  .footerText {
    color: white;
  
  }


  
 
/************ MEDIA QUERIES ************/

@media (max-width:400px) {
  .right,
  .left {
    float: none;
    margin: auto;
  }
  .img,
  .text {
    width: 100%;
  }
  .section-title {
    text-align: center;
  }
  .input-search-top {
    display: none;
      }    
}
